body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #333;
    color: #fff;
    overflow-x: hidden;
}
img {
max-width: 60%;
overflow: hidden;
margin: 35px auto;
margin-top: -30px;
padding: 15px;
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
border: 1px solid white;

box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
transform: rotate(5deg);
}

.center {
margin: 0 auto;
}

button {
width: 80%;
margin: 0 auto;
}
input {
display: flex;
margin: 0 auto;

}
#game {
font-size: 50px;
}
.delete {
display: none;
}
.strong {
max-width: 60%;
margin: 10px auto;
padding: 15px;
font-size: 25px;
display: block;
text-transform: uppercase;
border: 1px solid #fff;

}

/* Todo: fixed video styles and video container so it looks good */

#queen,
#madona,
#journey,
#survivor {
    display: none;
    width: 60%;
    height: 300px;
    margin: 0 auto;
}